<%- include('../includes/head.ejs') %>
</head>
<body>
  <%- include('../includes/navigation.ejs') %>
  <main>
    <div>
      <h3>
      Checkout Page
    </h3>
    <p>Go to Home page</p>
  </div>
  </main>
<%- include('../includes/end.ejs') %>